<h1>Login</h1>
<%= form_tag '/login' do %>
  <%= label_tag :email%>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password%>
  <%= submit_tag "Log in"%>
<% end %>
