<h1>Welcome</h1>
<% if logged_in? %>
    <h1>Logged In as, <%= current_doctor.name || current_patient.name %></h1>
<%end%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign up as a doctor", '/doctors/new', method: :get%>
<%= button_to "Sign up as a patient", '/patients/new', method: :get%>
