<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>
<% if patient.errors[:name].any? %>
<p><%= patient.errors.full_messages_for(:name)[0] %>.</p>
<br>
<% end %>

<%= f.label :email, required: true, placeholder: "Patient's email" %>
<br>
<%= f.email_field :email %>
<br>
<% if patient.errors[:email].any? %>
<p><%= patient.errors.full_messages_for(:email)[0] %>.</p>
<br>
<% end %>
