<h1>Edit your personal details</h1>
<%= form_for @patient do |f| %>

<%= render :partial => "form", :locals => { :patient => @patient, :f => f} %>

<%= f.button "Update patient", data: { confirm: 'Are you sure you want to save changes to your details?'}%>
<% end %>
<div>
<%= link_to "Cancel", patient_path(@patient), data: { confirm: 'Are you sure you want to discard any changes?'} %>
</div>
