<h1>Add Patient</h1>
<%= form_for @patient do |f| %>

<%= render :partial => "form", :locals => { :patient => @patient, :f => f} %>

<%= f.label :password %>
<br>
<%= f.password_field :password %>
<br>
<% if @patient.errors[:password].any? %>
<p><%= @patient.errors.full_messages_for(:password)[0] %>.</p>
<br>
<% end %>

<%= f.button "Signup"%>
<% end %>
<div>
<%= link_to "Back", root_path, data: { confirm: 'Are you sure you want to cancel account creation?'}%>
</div>

