<% if @patient == current_patient %>
<h1>Your Details</h1>
<% else %>
<h1>Patient View</h1>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <td><%= @patient.name %> </td>
  </tr>
  <tr>
    <th>Email</th>
    <td> <%= @patient.email %></td>
  </tr>
</table>

<div>
  <% if @patient.appointments %>
  <%= link_to "View appointments", patient_appointments_path(@patient) %>
  <% end %>
</div>
<% if @patient == @current_patient %>
<div>
  <%= link_to "Edit Patient Details", edit_patient_path %>
</div>
<div>
  <%= button_to "Delete your account", patient_path(@patient), method: :delete, data: { confirm: 'Are you sure you want to delete your account?'} %>
</div>
<% end %>

<% if @patient.doctors.any? %>
  <h2>Your Doctors</h2>
  <hr>
  <div id="patient-doctors-section"></div>
<% end %>

<div class='space-bottom-div'>
</div>
<% if @current_patient = @patient %>
<%= javascript_include_tag 'patients' %>
<%= javascript_include_tag 'doctors' %>
<% end %>
