<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br>

<%= f.label :title, "Title" %>
<br>
<%= f.text_field :title %>
<br>

<%= f.label :address, "Practice Address (Optional)" %>
<br>
<%= f.text_field :address %>
<br>

<%= f.label :city, "city" %>
<br>
<%= f.city :city %>
<br>

<%= f.label :email %>
<br>
<%= f.email_field :email %>
<br>
