<table data-id="<%= d.id %>">
  <tr>
    <th>Name</th>
    <td><%= d.name %></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%= d.title %></td>
  </tr>
  <tr>
    <th>Specialty</th>
    <td><%= d.specialty %></td>
  </tr>
  <tr>
    <th>Practice Name</th>
    <td><%= d.practice_name %></td>
  </tr>
  <tr>
    <th>City</th>
    <td ><%= d.city %></td>
  </tr>
</table>
