<h1>Edit Your Personal Details</h1>
<%= form_for @doctor do |f| %>

<%= render :partial => "form", :locals => { :doctor => @doctor, :f => f} %>



<%= f.button "Update Doctor Details", data: { confirm: 'Are you sure you want to save changes to your details?'}%>
<% end %>

<div>
  <%= link_to "Cancel", doctor_path(@doctor), data: { confirm: 'Are you sure you want to discard any changes to your details?'} %>
</div>
