<h1>Add Doctor</h1>
<%= form_for @doctor do |f| %>

<%= render :partial => "form", :locals => { :doctor => @doctor, :f => f} %>

<%= f.label :password %>
<br>
<%= f.password_field :password %>
<br>

<%= f.button "Signup"%>
<% end %>
<div class="margin-top-div">

  <%= link_to "Back", root_path, data: { confirm: 'Are you sure you want to cancel account creation?'}%>
</div>

<div>
</div>
