<% if @doctor == current_doctor %>
  <h1>Your Details</h1>
<% else %>
  <h1>Doctor View</h1>
<% end %>

<%= render :partial => "view", :locals => { :d => @doctor} %>

<% if @doctor == current_doctor %>
  <div>
    <%= link_to "View Appointments", doctor_appointments_path(@doctor), :class => "show-page-button" %>
  </div>

  <div>
    <%= link_to "New Appointment", new_doctor_appointment_path(@doctor), :class => "show-page-button" %>
  </div>
<% end %>

<div>
  <%= link_to "View All Doctors", doctors_path, :class => "show-page-button"%>
</div>

<% if @doctor == current_doctor %>
  <div>
    <%= link_to "Edit Doctor Details", edit_doctor_path, :class => "show-page-button" %>
  </div>
  <div>
    <%= button_to "Delete Your Account", doctor_path(@doctor), method: :delete, data: { confirm: 'Are you sure you want to delete your account?'}, :class => "show-page-button" %>
  </div>
<% end %>

<div>

  <% if @doctor == current_doctor && @appointments.any? %>
    <h2>Today's Appointments</h2>
    <% elsif @doctor == current_doctor %>
      <h2>You Have No Appointments Today</h2>
    <% end %>

  <hr>

  <% if @doctor == current_doctor%>
    <h2>Quick Create Appointment</h2>
    <%= form_for @appointment, :html => {:id => "quick-create-form"} do |f| %>
    <%= f.label :date %>
    <br>
    <%= f.date_field :date, value: @appointment.date %>
    <br>

    <%= f.label :time %>
    <br>
    <%= f.time_field :time, value: "%r", value: @appointment.time %>
    <br>
    <% if @appointment.errors[:time].any? %>
      <p><%= @appointment.errors.full_messages_for(:time)[0] %>.</p>
      <br>
    <% end %>
    <%= f.hidden_field :doctor_id, :value => current_doctor.id %>
    <%= f.label(:patient_id, "Patient") %>
    <br>
    <%= f.collection_select(:patient_id, Patient.all.order('name ASC'), :id, :name, include_blank: "Select a patient") %>
    <br>
    <%= f.button "Create Appointment"%>
  <% end %>
<% end %>

<div class='space-bottom-div'></div>
