<%= f.label :date %>
<br>
<%= f.date_field :date, value: appointment.date %>
<br>

<%= f.label :time %>
<br>
<%= f.time_field :time, value: "%r", value: appointment.time %>
<br>

<%= f.label :reason %>
<br>
<%= f.text_area :reason %>
<br>

<%= f.label(:doctor_id, "Doctor") %>
<br>
<p><%= current_doctor.name %></p>
<%= f.hidden_field :doctor_id, :value => current_doctor.id %>
<br>

<%= f.label(:patient_id, "Patient") %>
<br>
<%= f.collection_select(:patient_id, Patient.all.order('name ASC'), :id, :name, include_blank: "Select a patient") %>
<br>
  <br>
<% end %>
