<h1>All your Appointments</h1>
<%= link_to "Add a new appointment", new_appointment_path %>

<hr>
<% @appointments.each do |a| %>

<%= render :partial => "view", :locals => { :a => a} %>

<% end %>

<% if !@appointments.any? %>
  <p>You have no appointments.</p>
<% end %>
<div >
</div>
