<h1>New Doctor Appointment</h1>

<%= form_for @appointment do |f| %>

<%= render :partial => "form", :locals => { :appointment => @appointment, :f => f } %>

<%= f.button "Book Appointment"%>
<% end %>

<%= link_to 'Back', appointments_path %>