<h1>Appointment</h1>

<%= render :partial => "view", :locals => { :a => @appointment} %>

<div>
<%= link_to "View all Appointments", appointments_path, :class => "show-page-button" %>
</div>
<div>
<%= link_to "Edit Appointment", edit_appointment_path(@appointment)%>
</div>
<div>
<%= button_to "Delete Appointment", appointment_path(@appointment), method: "delete", data: { confirm: 'Are you sure you want to delete this appointment?'}%>
</div>
